<div class="oneCard" #oneCard>

    <div class="cardHead">

        <img *ngIf="memo.image ; else placeholder" style="height: 200px;" src="{{memo.image}}" alt="{{memo.title}}" />

        <ng-template #placeholder>
            <img style="height: 200px;" src="assets/images/memo.jpg" alt="Memo" />
        </ng-template>

        <div class="creatorContainer">
            <p>{{memo.creator}}</p>
            <p>{{memo.createdAt}}</p>
        </div>
    </div>

    <div class="cardBody">

        <h5>{{memo.title}}</h5>
        <p>{{memo.message}}</p>
        <p>
            <span [ngStyle]="{ color: 'gray'  }" *ngFor="let tag of memo.tags"> #{{tag}} </span>
        </p>

        <div class="cardEvents">
            <p>
                <fa-icon [icon]="faThumbsUp" [ngStyle]="{ color: 'blue' }" (click)="setMemoLikes()"></fa-icon>
                <span> {{memo.likes}} </span>
            </p>
            <p>
                <fa-icon [icon]="faPen" [ngStyle]="{ color: 'gray'  }" (click)="setShowUpdateForm()">
                </fa-icon>
                <fa-icon [icon]="faTimes" [ngStyle]="{ color: 'red', margin:'10px'}" (click)="setDeleteMemo()">
                </fa-icon>
            </p>
        </div>

    </div>
</div>