<div>
    <h3>{{memo.title}}</h3>
    <p>{{memo.createdAt}}</p>
    <p>{{memo.creator}}</p>
    <p>{{memo.likes}}</p>
    <p>{{memo.message}}</p>
    <p>{{memo.id}}</p>
    <h3>
        <fa-icon [icon]="faThumbsUp" [ngStyle]="{ color: 'blue' }" (click)="setMemoLikes()"></fa-icon>
        <fa-icon [icon]="faTimes" [ngStyle]="{ color: 'red' }" (click)="setDeleteMemo()"></fa-icon>
        <fa-icon [icon]="faPen" [ngStyle]="{ color: 'gray' }" (click)="setShowUpdateForm()"></fa-icon>
    </h3>
</div>