form {
    background-color: #fff;
    min-width: 50%;
    max-width:85%;
    border : 1px solid #ddd;
    border-radius: 10px;
    color : #062C30;
}

.formHead {
    padding: 15px;
}

.formBody {
    border : 1px solid #ddd;
    padding: 20px;
}

.formBottom {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end
}

button:first-of-type {
    color : #062C30;
    margin-right: 10px;
}
