<form #addForm="ngForm" (ngSubmit)="formSubmit(addForm)">

    <input type="hidden" class="form-control" ngModel name="id" id="id" placeholder="id" value="id">

    <div class="formHead">

        <h3 *ngIf="currentMemo ; else addMemo">Update Memory</h3>

        <ng-template #addMemo>
            <h3>ADD MEMORY</h3>
        </ng-template>

    </div>

    <div class="formBody">
        <div class="mb-3">
            <input type="text" class="form-control" ngModel name="title" id="title" placeholder="title">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" ngModel name="message" id="message" placeholder="message">
        </div>

        <div *ngIf="!currentMemo" class="mb-3">
            <input type="text" class="form-control" ngModel name="creator" id="creator" placeholder="creator">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" ngModel name="tags" id="tags" placeholder="tags">
        </div>

        <input type="file" (change)="fileChangeEvent($event)">

    </div>

    <div class="formBottom">

        <button type="click" (click)="handleFormClose()" class="btn btn-outline-secondary">Cancel</button>

        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>

    </div>

</form>